<div class="row">
  <div class="col-6">
      <div class="card card-statistics">
        <div class="card-body">
          <h4 class="card-title">Ingresos</h4>

          <p class="card-description">
            Pacientes Registrados por {{ usuario }}
          </p>

          <div class="clearfix">
            <div class="float-left">
              <i class="fa fa-money-bill-alt text-success icon-lg"></i>
            </div>
            <div class="float-right">
              <p class="mb-0 text-right">Registros</p>
              <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">{{ ingresos }}</h3>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

</div>


